name: trivy & grype & sarif & docker scout vulnerability scan

on:
  push:
    branches: [ "main" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  trivy:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Trivy
    runs-on: self-hosted-generic
    steps:
      - name: Checkout code
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v4.2.2

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          image-ref: '${{ vars.GREENBONE_REGISTRY }}/opensight/opensight-postgres:16'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'MEDIUM,HIGH,CRITICAL'
          github-pat: ${{ secrets.GITHUB_TOKEN }} # or ${{ secrets.github_pat_name }} if you're using a PAT
        env:
          TRIVY_USERNAME: ${{ secrets.GREENBONE_REGISTRY_READ_USER }}
          TRIVY_PASSWORD: ${{ secrets.GREENBONE_REGISTRY_READ_TOKEN }}

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v3.29.5
        with:
          sarif_file: 'trivy-results.sarif'
          category: ${{ github.jobs[github.job].name }}

  grype:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Grype
    runs-on: self-hosted-generic
    steps:
      - name: Checkout code
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v4.2.2

      - name: Login to Greenbone Product container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3.6.0
        with:
          registry: ${{ vars.GREENBONE_REGISTRY }}
          username: ${{ secrets.GREENBONE_REGISTRY_READ_USER }}
          password: ${{ secrets.GREENBONE_REGISTRY_READ_TOKEN }}

      - name: Run the Anchore Grype scan action
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0
        id: grype
        with:
          image: '${{ vars.GREENBONE_REGISTRY }}/opensight/opensight-postgres:16'
          fail-build: false
          severity-cutoff: medium

      - name: Upload grype vulnerability report
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v3.29.5
        with:
          sarif_file: ${{ steps.grype.outputs.sarif }}
          category: ${{ github.jobs[github.job].name }}

  docker-scout:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
      pull-requests: write
    name: "Docker Scout"
    runs-on: self-hosted-generic
    steps:
      - name: Checkout code
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v4.2.2

      - name: Login to Greenbone Product container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3.6.0
        with:
          registry: ${{ vars.GREENBONE_REGISTRY }}
          username: ${{ secrets.GREENBONE_REGISTRY_READ_USER }}
          password: ${{ secrets.GREENBONE_REGISTRY_READ_TOKEN }}

      - name: Analyze for critical and high CVEs
        id: docker-scout-cves
        if: ${{ github.event_name != 'pull_request_target' }}
        uses: docker/scout-action@v1
        with:
          command: cves
          image: '${{ vars.GREENBONE_REGISTRY }}/opensight/opensight-postgres:16'
          sarif-file: sarif.output.json
          summary: true
          dockerhub-user: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-password: ${{ secrets.DOCKERHUB_TOKEN }}
          only-severities: critical, high, medium

      - name: Upload docker scout SARIF result
        id: upload-sarif
        if: ${{ github.event_name != 'pull_request_target' }}
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v3.29.5
        with:
          sarif_file: sarif.output.json
          category: ${{ github.jobs[github.job].name }}
